#Iam{background-color: pink;
     width:1000px;
     height:320px;}
#i{color: blue;
   
font-size: 40px;}#a{color: blue; font-size: 30px;} #b{color: blue; font-size: 25px;} #c{color: blue; font-size: 20px;}
#d{
	background-color: skyblue;
     width:1000px;
     height:520px;}

#po{background-color: pink; width:1000px;
     height:500px; margin-left: 10px;}



#id{font-size: 50px;}
